################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Split Excel/New Text Document.txt
.vs/
/packages
/../obj
/Split Excel/obj/Debug/Split Excel.csproj.AssemblyReference.cache
